/* You can add global styles to this file, and also import other style files */
html {
  font-family: 'Times New Roman', Times, serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FAE7D3;
  color: #000000;
}

#border-header {
  background-image: url("/assets/image/palmette_bottom.jpg");
  height: 60px;
  padding: 0;
}

#header-text {
  font-family: 'Geek', 'Times New Roman', Times, serif;
  font-size: 6vh; 
  height: 7vh;
  text-align: center; 
  text-justify: center;
  background-color: #5a2502;
  color: #d1b7aa;
}

@font-face {
  font-family: 'Geek';
  src: url('/assets/Fonts/geek.tff') format('truetype');
  font-weight: normal;
  font-style: normal;
}